{{- if .Values.postgresql.enabled -}}
{{- if .Values.postgresql.persistence.enabled -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.postgresql.host }}-pvc
  labels:
    {{- include "playground.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgresql.persistence.size | quote }}
---
{{- end -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.postgresql.host }}
  labels:
    {{- include "playground.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        # We exclude playground.labels here because it includes hpe-ezua/type: vendor-service,
        # which triggers an Istio AuthorizationPolicy (OAuth2) that blocks Postgres traffic.
        app.kubernetes.io/name: {{ include "playground.fullname" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          env:
            - name: POSTGRES_USER
              value: {{ .Values.postgresql.username | quote }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresql.auth.existingSecret | default (printf "%s-db-secret" (include "playground.fullname" .)) }}
                  key: {{ .Values.postgresql.auth.secretKey | default "password" }}
            - name: POSTGRES_DB
              value: {{ .Values.postgresql.database | quote }}
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          ports:
            - containerPort: 5432
          {{- if .Values.postgresql.persistence.enabled }}
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          {{- end }}
          resources:
            {{- toYaml .Values.postgresql.resources | nindent 12 }}
      {{- if .Values.postgresql.persistence.enabled }}
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: {{ .Values.postgresql.host }}-pvc
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.postgresql.host }}
  labels:
    {{- include "playground.labels" . | nindent 4 }}
spec:
  ports:
    - port: {{ .Values.postgresql.port }}
      targetPort: 5432
  selector:
    app: postgres
{{- end -}}